@import "reset.css";


html {
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: hidden;
  background-image: url(../img/wallpaper.jpg); /* Путь к фоновому изображению */
  /*background-size: contain;*/
  background-size: contain;
  background-repeat: no-repeat;


}

.sticker_star {
  position: relative;
  height: 100vw;
  width: 100vw;
}
.star {
  position: absolute;
}

.bills {
  position:relative;
}

.pineapple {
  height: 208vh;
  width: 110vw;
  top: -114vw;
  right: -28vw;
  z-index: -1;
  position: absolute;
}

.mango {
  height: 216vh;
  width: 46vw;
  top: -114vw;
  right: 30vw;
  z-index: -1;
  position: absolute;
}

.kiwi {
  height: 229vh;
  width: 143vw;
  top: -126vw;
  right: 19vw;
  z-index: -1;
  position: absolute;
}
/*
@media (min-width: 320px) {

  body {
    height:
  }
 .bills {
	display: none;
 }
 .sticker_star {
   display: none;
 }
}
*/

/*
@media (min-width: 375px) {

  body {
    height: 667px;
    overflow: hidden;
  }
 .bills {
	display: none;
 }
 .sticker_star {
   display: none;
 }
 .iphone_8 {
 z-index: 1;
 height: 140vw;
 width: 25vw;
 position: absolute;
 right: 67vw;
 }
}
*/
