@import "reset.css";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  background-image: url(../img/wallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  overflo w: hidden;
  overfl ow-y: hidden;
   /* Путь к фоновому изображению */
  /*background-size: contain;*/
  height: 100vh;


}

.sticker_star {
  position: relative;
  height: 100vw;
  width: 100vw;
}
.star {
  position: absolute;
}

.bills {
  position:relative;
}

.pineapple {
  height: 208vh;
  width: 110vw;
  top: -114vw;
  right: -28vw;
  z-index: -1;
  position: absolute;
}

.mango {
  height: 216vh;
  width: 46vw;
  top: -114vw;
  right: 30vw;
  z-index: -1;
  position: absolute;
}

.kiwi {
  height: 229vh;
  width: 143vw;
  top: -126vw;
  right: 19vw;
  z-index: -1;
  position: absolute;
}

.iphone_8 {
display: none;
}
/*
@media (min-width: 320px) {

  body {
    height:
  }
 .bills {
	display: none;
 }
 .sticker_star {
   display: none;
 }
}
*/


@media (max-width: 414px) {


main {
  overflow-x: hidden;
  /*height: 667px;*/
  background-attach ment: fixed;

}

 .bills {
	display: none;
 }

 .sticker_star {
   display: none;
 }

 .iphone_bills {
   position: relative;
 }

 .iphone_8 {
   display: block;
   z-index: 1;
   height: 400vw;
   width: 70vw;
   position: absolute;
   right: 16vw;
 }
}

@media (min-width: 415px) {

  .pineapple {
    height: 144vh;
    width: 165vw;
    top: -114vw;
    right: -74vw;
    z-index: -1;
    position: absolute;
}

.mango {
    height: 145vh;
    width: 71vw;
    top: -114vw;
    right: 8vw;
    z-index: -1;
    position: absolute;
}

.kiwi {
    height: 229vh;
    width: 366vw;
    top: -153vw;
    right: -28vw;
    z-index: -1;
    position: absolute;
}

.iphone_bills {
  display: none;
}

}
